{% include "store/base.html" %}
{% load humanize %}
{% load mathfilters %}
{% load static %}


{% block content %}


<main class="pt-5">
    
    <div class="container" >
      
      <h1 class="h5"> Shopping cart </h1>

    <hr>
    {% for item in cart %}

    {% with product=item.product %}
      <br>

      <div class="row mb-4 border product-item">
        
        <div class="col-md-3 col-lg-2 order-md-first bg-light">
        
            <img class="img-fluid mx-auto d-block" width="200px" alt="Responsive image" src="{{product.image.url}}"> <!-- Product image -->
        
        </div>

        
        <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10" style="border: 1px solid;">
          
          <a href="{{product.get_absolute_url}}" class="text-decoration-none text-reset"> <!-- Product get absolute url -->
          
            <h1 class="h5 pt-2"> {{product.title}}<!-- Product title --> </h1>
          
          </a>
          
          <div class="border">
            
            <div class="col border-bottom">
              
                <div class="row p-3">
              
                <div class="col-6"> Product </div>
              
                <div class="col-6 text-end"><span class="h6 fw-bold">₩  {{product.price|mul:item.qty|intcomma}}<!-- Product price --> </span></div>
            
              </div>
            
            </div>
            
            <div class="col">
              
              <div class="row p-3">
                
                <div class="col-12">
                  
                  <label for="select">Qty</label>

                  &nbsp; 
                  
                  <div class="col-sm-10" style="text-align: center; width: 10px; display:flex; ">
                    <input type='button'
                    onclick='count("minus")'
                    value='-'  class="form-control"/>
                    &nbsp;&nbsp;
                    <div id='result' class="form-control" style="width: 100px;">{{item.qty}}</div>
                    &nbsp;&nbsp;
                    <input type='button'
                    onclick='count("plus")'
                    value='+' class="form-control"/>
                </div>
                  
                  <br> <br>

                  <button type="button" data-index="{{product.id}}"
                    class="btn btn-primary btn-sm update-button">
                    Update
                  
                  </button>
                  
                  &nbsp;

                  <button type="button" data-index="{{product.id}}"
                    class="btn btn-danger btn-sm delete-button">
                    Delete
        
                  </button>
        

                </div>
        
            </div>
        
            </div>
    
            </div>
    
        </div>
      
    </div>
      
    {% endwith %}

    {% endfor %}

      <div class="col-12 text-end">
 
        <div class="h6 fw-bold"> Sub total: ₩ <div id="subtotal" class="d-inline-flex"> 
          <!-- cart.get_total --> 
          {{cart.get_total|intcomma}}

        </div>
   
        <br><br>

        <a href="{% url 'checkout' %}" class="btn btn-primary my-2"> <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp; Proceed to checkout </a>
        
      </div>

    </div>
  
    <br><br>
 
 </main>

<script>

    // 장바구니 + - 기능
    function count(type)  {
      // 결과를 표시할 element
      const resultElement = document.getElementById('result');
      
      // 현재 화면에 표시된 값
      let number = resultElement.innerText;

      // 더하기/빼기
      if(type === 'plus') {
          number = parseInt(number) + 1;
      }else if(type === 'minus')  {
          number = parseInt(number) - 1;
      }
      
      // 결과 출력
      if(number > 0){
          resultElement.innerText = number;
      }
      
    }

    // 삭제 버튼
    $(document).on('click', '.delete-button', function (e) {

      e.preventDefault();
  
      $.ajax({
  
        type: 'POST',
        url: '{% url "cart-delete" %}',
        data: {
  
          product_id: $(this).data('index'), // index in session
          csrfmiddlewaretoken: "{{csrf_token}}",
          action: 'post' 
  
            },
  
      success: function (json) {
  
        location.reload(true); // refresh current page
  
        document.getElementById("cart-qty").textContent = json.qty // need to be matched with JsonResponse dictionary key in cart_add function from view.py
      
        document.getElementById("total").textContent = json.total
      },
  
      error: function (xhr, errmsg, err) {
  
      }
  
        });
  
    })

    // 업데이트 버튼
    $(document).on('click', '.update-button', function (e) {

      e.preventDefault();
  
      var theproductid = $(this).data('index');
      //console.log(theproductid) -> product index
      $.ajax({
  
        type: 'POST',
        url: '{% url "cart-update" %}',
        data: {
  
          product_id: $(this).data('index'),
          product_quantity: $('#result').text(), // without empthy infornt of option makes error 
          
          csrfmiddlewaretoken: "{{csrf_token}}",
          action: 'post' 
  
              },
          
  
      success: function (json) {
        
        location.reload(true); // refresh current page
  
        document.getElementById("cart-qty").textContent = json.qty // need to be matched with JsonResponse dictionary key in cart_add function from view.py
      
        document.getElementById("total").textContent = json.total
      },
  
      error: function (xhr, errmsg, err) {
  
      }
  
          });
  
      }) 
</script>

{% endblock %}

