{% include 'store/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

    <style>

        body{

            background-color: gray;

        }


    </style>


    <body>

        <br>

        <div class = 'container bg-white shadow-md p-5 form-layout rounded' >

            <h3> Create your account </h3>

            <h5> Purchase your favourite itmes today! </h5>
            <hr>
          
            <br>

            <form method="POST" autocomplate="off">

                {% csrf_token %}
         

                {{ form.username|as_crispy_field  }}

                 

                {{ form.email|as_crispy_field  }}

                <br> 

                {{ form.password1|as_crispy_field  }}

                <br> 

                {{ form.password2|as_crispy_field  }}

                <br> 
                
                <button type='submit' class='btn btn-primary btn-lg w-100 btn-block p-2 rounded'> &nbsp; Creatre account</button>
                <br>
                <br>
                <div class="text-center"  >

                    <a style="color:green;"  href="/" > Already have an account? </a>
  
                </div> 
    
               

            </form>

        </div>

<br> <br>


    </body>






{% endblock content %}

