{% include 'store/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<style>

    body{

        background-color: gray;

    }


</style>
<br>

<div class = 'container bg-white shadow-md p-5 form-layout rounded' >


    <h3> Enter your new password!</h3>
    <hr style="border:1px solid#000000;"/>

    <p> Please enter your new password twice so that we can verify truncatechars_html

        you typed it in correctly

    </p>

    <form method='post'>

        {% csrf_token %}

        {{form|crispy}}
        
        <br>
        
        <button type='submit' class='btn btn-primary btn-lg w-100 btn-block p-2 rounded'> &nbsp; Update password </button>
    </form>
</div>

{% endblock content %}