{% include 'store/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<style>

    body{

        background-color: gray;
        text-align: center;

    }


</style>
<br>
<div class = 'container bg-white shadow-md p-5 form-layout rounded' >
    <i class="fa-solid fa-check fa-3x text-success"></i>

    <hr style="border:1px solid#000000;"/>
<p>
    <strong>

        We've emailed you instructions for setting your password.

        Please check your email
    </strong>

</p>
</div>
{% endblock content %}