{% include 'store/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

    <style>

        body{

            background-color: gray;

        }


    </style>


    <body>

        <br>

        <div class = 'container bg-white shadow-md p-5 form-layout rounded' >

            <h3> Manage shipping</h3>
            <hr>
            <p> Please fill in your shipping address. </p>
            <br>

            <form method="POST" autocomplate="off">

                {% csrf_token %}

                {{form.full_name|as_crispy_field}}

                <br>

                {{form.email|as_crispy_field}}

                <br>
                
                {{form.address1|as_crispy_field}}

                <br>
                
                {{form.address2|as_crispy_field}}

                <br>
                
                {{form.city|as_crispy_field}}

                <br>

                {{form.state|as_crispy_field}}

                <br>

                {{form.zipcode|as_crispy_field}}

                <br>
                <button type='submit' class='btn btn-primary btn-lg w-100 btn-block p-2 rounded'> Update shippng address</button>

            </form>

        </div>

        

<br> <br>


    </body>






{% endblock content %}

